

body {


    color: rgb(11, 139, 127);
    text-align: center;
    position: relative;
    

    
    
        
    
}





div {

    border: solid 5px grey;
    border-radius: 15px 15px 15px 15px;
    background-color:  rgb(18, 72, 90);
    margin: 100px;
    width: 100%;
    padding: 0;
    

    
}

#profile_photo {

    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

#greeting-header {

    color: powderblue;
}

#title {

    color: grey;
}

.head {

    color: powderblue;
}

button {
    
    color:rgb(27, 71, 153);
    margin:1px;
    border-radius: 3px 3px 3px 3px;
    background-color: grey;
    border: solid 2px rgb(128, 68, 156);
    border-radius: 8px 0 8px 0;
}

a {
    color: grey;
}

nav {

    position: absolute;
    margin: 20px;
    padding-bottom: 20px;
}

p {
    color: white;
}

.links {

    position: relative;
}

#coded {

    color: orange;
    

}

#or {

    color:aqua;
}

input {

    color: rgb(17, 136, 71);
    border: solid 3px grey;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;

}

textarea {

    background-color: white;
    border: solid 3px grey;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;
}

.fade-text{
    color: rgba(150, 166, 168, 0.678)
}

.submit-button {

    background-color: rgb(1, 126, 84);
    color: rgb(201, 199, 199);
}

label {

    color: gray;
}

fieldset {

    border-radius: 20px 20px 20px 20px;
    margin: 30px;
    border: solid 5px gray;
    padding: 10px;
}

#cert {

margin : 60px;
}

#err {

    color: red;
}

#succ {

    color: green;
}

img {

    margin: 30px;
    border: solid;
    padding: px;
    border-radius: 10px 10px 10px 10px;
    background-color: darkgrey;
    
}

#curiosity {

    text-align: center;
}




        