<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel = "icon" type= "image/x-icon" href = "Images/android-chrome-192x192.png">
    <link href="Stylesheet/style.css" rel = "stylesheet">

</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href = "/"> Home </a>
            </li>
        </ul>
        <br>
    </nav>
<br>
    <div>
    <p style="color: rgb(82, 207, 82)">
        <%=first_name  %>, your message was received successfully. Look forward to get my response sooner.
    </p>
   </div>
    
</body>

</html>